div.compteur{
  float:left;
  display:inline;
  position:relative;
  margin:50px;
  width:200px;
  height:200px;
}

div.compteur input{
  position:absolute;
  top:65px;
  left:50px;
  font-size:60px;
  text-align:center;
  width:100px;
  border:none;
  background:none;
  outline:none;
  line-height:1em;
}

div.compteur canvas{
  position:absolute;
  top:0;
  left:0px;
  right:0px;
  bottom:0px;
}